@model OrderForMeProject.Models.OrdersModels.InitCreateOrders

<style>
    .form-custom {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <strong>Thông tin đơn hàng tổng</strong>
            </div>
            <div class="card-body-custom card-body card-block">
                @foreach (var item in Model.ListLinkProduct)
                {
                    <div class="form-group row divLink">
                        <input type="hidden" value="@item.LinkProductId" />
                        <div class="col-8">
                            <label class=" form-control-label">Link sản phẩm</label>
                            <input type="text" value="@item.Link" disabled placeholder="Nhập link sản phẩm để mua hàng" class="form-control">
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="price" class=" form-control-label">Giá bán</label>
                                <input type="text" value="@item.Price" disabled placeholder="Giá bán" class="form-control">
                            </div>
                        </div>
                        <div class="col-2">
                            <label class=" form-control-label">Số lượng</label>
                            <input type="text" value="@item.Quantity" disabled placeholder="Số lượng" class="form-control">
                        </div>
                    </div>
                }
                <div class="row form-group">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="sourceBuyId" class=" form-control-label">Tuyến mua hộ</label>
                            <select class="form-control" disabled asp-for="Order.SourceBuyId" id="sourceBuyId" asp-items="@Model.ListSourceBuy">
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="siteBuyId" class=" form-control-label">Site mua hộ</label>
                            <select class="form-control" name="siteBuyId" id="siteBuyId">
                                @foreach (var item in Model.ListSiteBuy)
                                {
                                    <option value="@item.SiteBuyId" data-rate="@item.RateUsdtoVnd">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="usersId" class=" form-control-label">Khách hàng</label>
                            <select class="form-control" disabled asp-for="Order.UsersId" id="usersId" asp-items="@Model.ListCustomer">
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="dateBuy" class=" form-control-label">Hạn mua</label>
                            <input type="date" disabled asp-for="Order.DateBuy" id="dateBuy" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="stateOrdersId" class=" form-control-label">Trạng thái đơn hàng</label>
                            <select class="form-control" disabled asp-for="Order.StateOrderId" id="stateOrderId" asp-items="@Model.ListStateOrders">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="size" class=" form-control-label">Tổng TL (kg)</label>
                            <input type="text" disabled asp-for="Order.Size" id="size" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="currency" class=" form-control-label">Tiền tệ</label>
                            <select disabled asp-for="Order.Currency" id="currency" class="form-control">
                                <option value="USD">USD</option>
                                <option value="VND">VND</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="groupProductId" class=" form-control-label">Nhóm hàng</label>
                            <select class="form-control" disabled asp-for="Order.GroupProductId" id="groupProductId">
                                @foreach (var item in Model.ListGroupProduct)
                                {
                                    <option value="@item.Value" title="@item.Price" data-price="@item.Price">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="sizeTemp" class=" form-control-label">TL (tạm tính - kg)</label>
                            <input type="text" id="sizeTemp" disabled asp-for="Order.Size" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="otherFee" class=" form-control-label">Phí khác (nếu có)</label>
                            <input type="text" id="otherFee" disabled asp-for="Order.OtherFee" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note" class=" form-control-label">Nội dung ghi chú</label>
                    <input type="text" id="note" disabled asp-for="Order.Note" placeholder="Nhập nội dung ghi chú" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong>Hoá đơn</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="rate" class=" form-control-label">Tỉ giá</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="form-custom">1 USD = </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" disabled id="rateUsdvnd" asp-for="Order.RateUsdvnd" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="rate" class=" form-control-label">Phí vc nội địa Mỹ, Nhật (USD)</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" disabled id="feeShipping" asp-for="Order.FeeShipping" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="tax" class=" form-control-label">Thuế nội địa Mỹ, Nhật (USD)</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" disabled id="tax" asp-for="Order.Tax" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-custom">Tổng tiền hàng</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label id="totalMoney" class="form-custom"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-control-label">Phí về Việt Nam (đ)</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label id="lblFeeShippingToVn" class=" form-custom">@Model.Settings.FeeShippingToVn</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class=" form-control-label">Phí dịch vụ</label>
                            <label class="form-control-label" id="lblPercentFeeServices">@Model.Settings.FeeServices</label>
                            <label for="rate" class=" form-control-label"> % (đ)</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="rate" id="lblFeeServices" class="form-custom">0 đ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-control-label">Phụ phí (đ)</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label id="lblSurcharge" style="font-weight:bold;">0</label>
                            <label style="font-weight:bold;"> đ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-control-label">Phí DV cộng thêm (đ)</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="rate" class=" form-custom">0 đ</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-custom">Tổng tiền tạm tính</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label id="totalTempMoney" class=" form-custom">0 đ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rate" class="form-control-label">Hình thức thanh toán</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <select disabled id="paymentType" class="form-control">
                                <option value="cash">Tiền mặt</option>
                                <option value="bank">Chuyển khoản</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Tách đơn hàng</strong> <br />
                </div>
                <div class="card-body-custom card-body card-block">
                    @foreach (var item in Model.ListLinkProduct)
                    {
                        <div class="form-group row divLinkSplit">
                            <div class="col-7">
                                <label class=" form-control-label">Link sản phẩm</label>
                                <input type="text" value="@item.Link" name="sLink" required="required" placeholder="Nhập link sản phẩm để mua hàng" class="form-control">
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="price" class=" form-control-label">Giá bán</label>
                                    <input type="text" name="sPrice" value="@item.Price" placeholder="Giá bán" class="form-control">
                                    <input type="hidden" name="sLinkProductId" value="@item.LinkProductId" />
                                </div>
                            </div>
                            <div class="col-2">
                                <label class=" form-control-label">Số lượng</label>
                                <input type="number" max="@item.Quantity" name="sQuantity" required="required" value="@item.Quantity" placeholder="Số lượng" class="form-control">
                            </div>
                            <div class="col-1">
                                <label class=" form-control-label"></label>
                                <button class="btn btn-danger form-control" style=" position: relative; top: 7px;" type="button" onclick="fRemoveLink(this)">Xoá đơn</button>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <button class="btn btn-success" style=" position: relative; top: 7px;" type="button" onclick="fSplitOrder()">Tách đơn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
    });
    function fRemoveLink(el) {
        $(el).parentsUntil(".card-body-custom").remove();
    }
    function fSplitOrder() {
        var arr = new Array();
        $(".divLinkSplit").each(function () {
            arr.push({
                link: $(this).find("input[name=sLink]").val(),
                price: parseFloat($(this).find("input[name=sPrice]").val()),
                quantity: parseInt($(this).find("input[name=sQuantity]").val()),
                linkProductId: parseInt($(this).find("input[name=sLinkProductId]").val())
            });
        });
        $.ajax({
            url: location.href,
            type: "POST",
            timeout: 0,
            data:JSON.stringify(arr),
            contentType: 'application/json',
            processData: false,
            success: function (res) {
                alert(res.message);
            },
            error: function (err) {
                console.log("Lỗi", err);
                alert("Có lỗi trong quá trình nạp tiền, vui lòng thử lại sau");
            }
        });
    }
</script>